<h1 mat-dialog-title>Glad you asked</h1>
<mat-dialog-content class="mat-typography">

  <h4>What cool about being secret agent if you don't have a secret agent identity?</h4>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Acquire your secret santa identity
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        In every secret orginizations, a secret agent is assigned a very cool secret identity.
        Imagine how James Bond would be very pissed if they didn't assign him with codename 007.
      </p>
      <p>We would be very lame secret service if you don't get your own secret name.</p>
      <p>Go ahead and push big button to get your secret identity.</p>
      <h5>
        Note: Once you push the button, your secret santa identity will be acquired and there is no way to retrieve it
        again.
        You are the only one who know this identity. You must keep your secret identity (well...) secret.
        A pen 🖊 and a note 🗒 to write it down is what we recommend.
      </h5>
      <div class="reveal-secret">
        <button mat-raised-button color="primary" (click)="getSecretId()" class="secret-button" [disabled]="nameAcquiring">
          <mat-icon aria-label="Boom" [inline]="true">pets</mat-icon>
        </button>
      </div>

      <div *ngIf="santaName">
        <p>Your secret santa name is:</p>
        <div>
          <h1> {{santaName}} </h1>
          <button color="warn" mat-raised-button ngxClipboard [cbContent]="santaName" (click)="openSnackBar()">
            <mat-icon>file_copy</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="errorInRequest">
        <h1>
          {{errorInRequest}}
        </h1>
      </div>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1);stepperMission.reset();">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Your mission
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        You have been choosen as one of the finest secret santas we've ever had.
      </p>
      <p>
        To be sucessfull in secret santa career, please follow these instructions carefully...
      </p>
      <mat-horizontal-stepper labelPosition="bottom" #stepperMission>
        <mat-step>

          <ng-template matStepLabel>Find</ng-template>
          <h2>Find your best gift</h2>
          <p>
            At SSS, we are fully aware that living as a good citizen while maintaining a secret santa identity is very
            tricky.
          </p>
          <p>
            However, our organization is founded by Mr. Santa to give joy to poor souls.
            As a secret santa, you are abided to this commandment.</p>
          <p>
            We don't have a strict guideline for the type of gift, but we recommend the gift value should be in the
            range from CAD 20 to CAD 100.
          </p>
          <p>Carefully wrap your gift to show your dedication.</p>
          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Leave</ng-template>
          <h2>Leave some hint</h2>
          <p>
            We need a way to identify a gift so that we can deliver correct gift to a poor soul later.
            We don't know who will receive your gift yet until the date of mission.
          </p>
          <p>This is where your secret santa name become handy !!!</p>
          <p>✍ Write down your secret santa name on the gift.</p>
          <p>But but but ... what if other people can see my secret santa name and identify me?</p>
          <p>This is why we need next step...</p>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Hide</ng-template>
          <h2>Hide your identity</h2>
          <p>Do your best to disguise the shape of your gift and the secret santa name on it.</p>
          <p>Here is some tips:</p>
          <div>
            <img src='../../assets/img/blackGarbage.png' width="75px" />
            <img src='../../assets/img/redGarbage.png' width="75px" />
          </div>
          <p>You are now done. Please proceed to `Day of the mission`</p>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button (click)="stepperMission.reset()">Reset</button>
            <button mat-button color="primary" (click)="nextStep()">Day of the mission</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

      <mat-action-row>
        <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2); stepperOnThatDay.reset();">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the mission
        </mat-panel-title>
      </mat-expansion-panel-header>

      <h1>Your mission is on December 15, 2018</h1>
      <p>Here is what you need to do...</p>

      <mat-horizontal-stepper labelPosition="bottom" #stepperOnThatDay>
        <mat-step>
          <ng-template matStepLabel>Dress</ng-template>
          <h2>Dress to blend in</h2>
          <p>On this date, people will dress in a theme of Christmas</p>
          <h3>What is Christmas theme?</h3>
          <p>Red and Green are wildly adopted colors for Christmas. White is also acceptable.</p>
          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Arrive</ng-template>
          <h2>Arrive on time at 18:00</h2>
          <p>When you arrive, immediately bring your gift to secret santa's den and unwrap the cover.</p>
          <p>Here is the quick look of secret santa's den</p>
          <img src="../../assets/img/SantaDen.jpg" width="250" />
          <p>Remember: Don't let other people know the connection between you and your gift.</p>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Gift Time</ng-template>
          <h2>It's time for everyone to enjoy the gifts from secret santas !!!</h2>
          <p>You will receive a gift from a random secret santa.</p>
          <p>The name of your secret santa will be chosen by Mr.Santa's robot butler and we will see it on big screen
            when the time comes.</p>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button (click)="stepperOnThatDay.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <mat-action-row>
        <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-raised-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Destroy this message</button>
</mat-dialog-actions>