<!-- <div class="game-area">
  <div class="card" *ngFor="let card of cards" [@cardSpinner]="card.state" [style.background]="card.color">
    <p style="font-size: 24px; text-align: center;">{{card.value}}</p>
  </div>
</div>

<button type="button" class="spin-btn green-btn" aria-label="Spin" (click)="animateSpin()">
  <span>S P I N</span>
</button> -->
<div class="container">
  <ng-template #loading>
    <div>
      Loading ...
      <mat-progress-bar mode="query"> </mat-progress-bar>
    </div>
  </ng-template>
  <ng-template #noImage>
    <img mat-card-image src="../../assets/img/baseline-help_outline-24px.svg" />
  </ng-template>
  <ng-container *ngIf="elvesAsync | async as elves; else loading">
    <mat-grid-list cols="7" rowHeight="600px" gutterSize="10px">
      <mat-grid-tile *ngFor="let elf of elves;">
        <mat-card *ngIf="elf.realIdentity as player" class="player-card">
          <mat-card-title-group>
            <mat-card-title>{{player.name}}</mat-card-title>
          </mat-card-title-group>
          <img mat-card-image [src]="player.pictureLink" *ngIf="player.pictureLink && nameChosen; else noImage" />
          <mat-card-content>
            <ng-container *ngIf="nameChosen; else loadingNames">
              <h4>You will receive gift from santa:</h4>
              <div class="slot-container">
                <!-- <ng-slot-machine-button [activeOnHover]="true">
                        <ng-slot-machine-wheel [delay]="0.1">
                          <div class="active part">Slot</div>
                          <div class="idle part">Slot</div>
                        </ng-slot-machine-wheel>
                        <ng-slot-machine-wheel [delay]="0.2">
                          <div class="active part">Machine</div>
                          <div class="idle part">Machine</div>
                        </ng-slot-machine-wheel>
                        <ng-slot-machine-wheel [delay]="0.3">
                          <div class="active part">Button</div>
                          <div class="idle part">Button</div>
                        </ng-slot-machine-wheel>
                      </ng-slot-machine-button> -->
                <h1>{{elf.matchWith}}</h1>
              </div>
            </ng-container>
            <ng-template #loadingNames>
              <div>
                Waiting for the secret santa ...
                <mat-progress-bar mode="query"> </mat-progress-bar>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button color="primary" class="play-button" (click)="play()">Santa Baby 🎅,<br /> so hurry down
      the chimney
      tonight</button>
  </ng-container>


</div>