// .game-area {
//     box-sizing: border-box;
//     position: relative;
//     height: 300px;
//     overflow: hidden;

//     .card {
//         bottom: 0;
//         box-sizing: border-box;
//         height: 300px;
//         left: 0;
//         position: absolute;
//         right: 0;
//         width: 300px;
//     }
// }

.player-card{
    width: 200px;
    height: 500px;
}

.container{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.slot-container{
    width: 100%;
    // left: 5%;
    // background-color: aqua;
}
.mat-card-image {
    height: 256px;;
}

//slot-machine-button
// :host {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 10rem;
//   }

// ng-slot-machine-button {
//     display: inline-block;
//     height: 6rem;
//     font-size: 2rem;
//     cursor: pointer;
//     border: solid 2px #f00;
//     border-radius: 1rem;
//     padding: 0 2rem;
//   }

.play-button{
    width: 30%;
    left: 35%;
    word-wrap: normal;
    white-space: normal;
    z-index: 99;
}