/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("/assets/img/ChristmasBG.jpg");
  }

  /* Center the loader */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100x;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

#snow{
    background-image:url(https://i.imgur.com/uYjnk8N.png), url(https://i.imgur.com/iAGD6MA.png), url(https://i.imgur.com/hIJDjbg.png);
    width: 90% !important;
    height: 100% !important;
    left: 5%;    
    position: absolute !important;
    z-index: 5;
    -webkit-animation: snow 30s linear infinite;
    animation: snow 30s linear infinite;
 } 
 @keyframes snow {
     0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
     100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
 }

 @-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
}

.christmast-tree-container
{
  position: relative;
}
.christmasttree {
    bottom:0;
    right: 0;
    display :block;
    //float:right;
    height:auto;
    position: absolute;;    
    width:25%;
    z-index:4;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
