<mat-card class="welcome-card">
  <mat-card-title-group>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>{{player.name}}</mat-card-subtitle>
  </mat-card-title-group>

  <img mat-card-image src="\assets\img\SantaChoseYou.png">

  <mat-card-content>
    <mat-card-title>We are Secret Santa 🎅 Service (SSS) </mat-card-title>
    <mat-card-subtitle>
      Think of it as Kingsman: The Secret Service but for little elves.
      And yes, we are SSS not <a href="https://en.wikipedia.org/wiki/Schutzstaffel">ϟϟ</a>
    </mat-card-subtitle>
    <p>Congratulation ! ! !</p>
    <p>You have been invited to our secret orginization.</p>
    <p>
      Our mission is to deliver hapiness to poor souls at the year ends and to make profit for business around the
      world; especialy, Amazon and EA, by making our poor agents buy fancy gifts.
    </p>
    <p color="warn">
      Are you ready to take on your greatest quest ever?
    </p>
  </mat-card-content>

  <mat-card-actions class="button-actions">
    <div *ngIf="player else loading">
      <button mat-raised-button color="primary" (click)="openDialog()" class="enroll-button">What do I need to do?</button>
    </div>
    <ng-template #loading>
      <div>
        Loading your mission ...
        <mat-progress-bar mode="query"> </mat-progress-bar>
      </div>
    </ng-template>
  </mat-card-actions>

</mat-card>